USE [master]
GO
/****** Object:  Database [Veo3D]    Script Date: 19/12/2020 04:43:58 ******/
CREATE DATABASE [Veo3D]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Veo3D', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Veo3D.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Veo3D_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Veo3D_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Veo3D].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Veo3D]
GO
/****** Object:  User [IIS APPPOOL\veo3d]    Script Date: 19/12/2020 04:43:58 ******/
CREATE USER [IIS APPPOOL\veo3d] FOR LOGIN [IIS APPPOOL\veo3d] WITH DEFAULT_SCHEMA=[db_owner]
GO
ALTER ROLE [db_owner] ADD MEMBER [IIS APPPOOL\veo3d]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [IIS APPPOOL\veo3d]
GO
/****** Object:  Table [dbo].[CopiaDeSeguridad]    Script Date: 19/12/2020 04:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CopiaDeSeguridad](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](200) NOT NULL,
	[fecha] [date] NOT NULL,
 CONSTRAINT [PK_CopiaDeSeguridad] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleCompras]    Script Date: 19/12/2020 04:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleCompras](
	[id] [int] NOT NULL,
	[material] [int] NOT NULL,
	[fecha] [date] NULL,
	[estado] [varchar](50) NULL,
	[cantidad] [int] NULL,
	[ordenCompra] [int] NULL,
 CONSTRAINT [PK_Compras] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Digitoverificador]    Script Date: 19/12/2020 04:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Digitoverificador](
	[tabla] [varchar](50) NOT NULL,
	[DVV] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Digitoverificador] PRIMARY KEY CLUSTERED 
(
	[tabla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DigitoVerificadorDetalle]    Script Date: 19/12/2020 04:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DigitoVerificadorDetalle](
	[tabla] [varchar](50) NOT NULL,
	[idtabla] [varchar](50) NOT NULL,
	[DVH] [varchar](50) NOT NULL,
 CONSTRAINT [PK_DigitoVerificadorDetalle] PRIMARY KEY CLUSTERED 
(
	[tabla] ASC,
	[idtabla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Idioma]    Script Date: 19/12/2020 04:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Idioma](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[codigo] [varchar](50) NULL,
 CONSTRAINT [PK_Idioma] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IdiomaDetalle]    Script Date: 19/12/2020 04:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IdiomaDetalle](
	[idioma] [int] NOT NULL,
	[clave] [varchar](50) NOT NULL,
	[texto] [varchar](200) NOT NULL,
 CONSTRAINT [PK_IdiomaDetalle] PRIMARY KEY CLUSTERED 
(
	[idioma] ASC,
	[clave] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Impresion]    Script Date: 19/12/2020 04:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Impresion](
	[id] [int] NOT NULL,
	[venta] [int] NOT NULL,
	[impresora] [int] NULL,
	[prioridad] [int] NULL,
	[estado] [varchar](50) NULL,
	[fechainicio] [datetime] NOT NULL,
	[fechafin] [datetime] NULL,
	[material] [int] NULL,
 CONSTRAINT [PK_Impresion] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Impresora]    Script Date: 19/12/2020 04:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Impresora](
	[id] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[modelo] [varchar](50) NOT NULL,
	[marca] [varchar](50) NOT NULL,
	[estado] [int] NOT NULL,
 CONSTRAINT [PK_Impresora] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Material]    Script Date: 19/12/2020 04:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material](
	[id] [int] NOT NULL,
	[marca] [varchar](50) NOT NULL,
	[color] [varchar](50) NOT NULL,
	[tipo] [varchar](50) NOT NULL,
	[peso] [int] NOT NULL,
	[metros] [int] NOT NULL,
	[estado] [int] NOT NULL,
	[stock] [int] NULL,
	[costom] [decimal](10, 2) NULL,
 CONSTRAINT [PK_Material] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrdenCompra]    Script Date: 19/12/2020 04:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrdenCompra](
	[id] [int] NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
	[fecha] [date] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permiso]    Script Date: 19/12/2020 04:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permiso](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[padre] [int] NOT NULL,
	[estado] [int] NULL,
 CONSTRAINT [PK_Perfil] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 19/12/2020 04:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[id] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[archivo] [varchar](200) NOT NULL,
	[cantidadMaterial] [int] NULL,
	[tiempo] [int] NULL,
	[imagen] [varchar](100) NOT NULL,
	[descripcion] [varchar](400) NOT NULL,
	[tipo] [varchar](50) NOT NULL,
	[calificacion] [int] NOT NULL,
	[estado] [int] NOT NULL,
	[precio] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_Producto] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 19/12/2020 04:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[usuario] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[correo] [varchar](50) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellido] [varchar](50) NOT NULL,
	[dni] [int] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuariopermiso]    Script Date: 19/12/2020 04:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuariopermiso](
	[usuario] [varchar](50) NOT NULL,
	[permiso] [int] NOT NULL,
 CONSTRAINT [PK_Usuariopermiso] PRIMARY KEY CLUSTERED 
(
	[usuario] ASC,
	[permiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Venta]    Script Date: 19/12/2020 04:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venta](
	[id] [int] NOT NULL,
	[producto] [int] NOT NULL,
	[anchomontura] [varchar](50) NULL,
	[puente] [varchar](50) NULL,
	[anchocristales] [varchar](50) NULL,
	[alturacristales] [varchar](50) NULL,
	[longitudpatillas] [varchar](50) NULL,
	[calle] [varchar](50) NOT NULL,
	[puerta] [varchar](50) NOT NULL,
	[depto] [varchar](50) NOT NULL,
	[localidad] [varchar](50) NOT NULL,
	[provincia] [varchar](50) NOT NULL,
	[estado] [varchar](50) NOT NULL,
	[usuario] [varchar](50) NOT NULL,
	[archivo] [varchar](50) NULL,
	[codigoPostal] [varchar](50) NULL,
	[color] [varchar](50) NULL,
	[codigoEnvio] [varchar](50) NULL,
 CONSTRAINT [PK_Compra] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CopiaDeSeguridad] ON 

INSERT [dbo].[CopiaDeSeguridad] ([id], [nombre], [fecha]) VALUES (1, N'c:\Veo3DBack\Veo3D_DB_15-10-2020-095834.BAK', CAST(N'2020-10-15' AS Date))
INSERT [dbo].[CopiaDeSeguridad] ([id], [nombre], [fecha]) VALUES (2, N'c:\Veo3DBack\Veo3D_DB_15-10-2020-104739.BAK', CAST(N'2020-10-15' AS Date))
INSERT [dbo].[CopiaDeSeguridad] ([id], [nombre], [fecha]) VALUES (1002, N'c:\Veo3DBack\Veo3D_DB_23-11-2020-051725.BAK', CAST(N'2020-11-23' AS Date))
SET IDENTITY_INSERT [dbo].[CopiaDeSeguridad] OFF
GO
INSERT [dbo].[DetalleCompras] ([id], [material], [fecha], [estado], [cantidad], [ordenCompra]) VALUES (1, 1, CAST(N'2020-12-19' AS Date), N'Nuevo', 100, NULL)
GO
INSERT [dbo].[Digitoverificador] ([tabla], [DVV]) VALUES (N'Impresora', N'0e5b97d1a48d6baf2ebcbc8fc5f35502dfc776ee')
INSERT [dbo].[Digitoverificador] ([tabla], [DVV]) VALUES (N'Producto', N'0a67065838b0b25ffd0a468ba46fef3d0eaa8ddb')
INSERT [dbo].[Digitoverificador] ([tabla], [DVV]) VALUES (N'Usuario', N'e895f06c1fc11f9d6d34b6e067c9b6395495ef7b')
GO
INSERT [dbo].[DigitoVerificadorDetalle] ([tabla], [idtabla], [DVH]) VALUES (N'Impresora', N'1', N'3e095aca66a9492acf81ac3dd7ef137b9e5dbb17')
INSERT [dbo].[DigitoVerificadorDetalle] ([tabla], [idtabla], [DVH]) VALUES (N'Impresora', N'2', N'2eaa523e77792ce4d242e7cc1cab8bd87452eb71')
INSERT [dbo].[DigitoVerificadorDetalle] ([tabla], [idtabla], [DVH]) VALUES (N'Impresora', N'3', N'd836ace60854d14240ad1c51deb375adaac60096')
GO
SET IDENTITY_INSERT [dbo].[Idioma] ON 

INSERT [dbo].[Idioma] ([id], [nombre], [codigo]) VALUES (1, N'Español', N'es')
INSERT [dbo].[Idioma] ([id], [nombre], [codigo]) VALUES (3, N'Ingles', N'en')
INSERT [dbo].[Idioma] ([id], [nombre], [codigo]) VALUES (4, N'Chino', N'ch')
SET IDENTITY_INSERT [dbo].[Idioma] OFF
GO
INSERT [dbo].[IdiomaDetalle] ([idioma], [clave], [texto]) VALUES (1, N'BtnAceptar', N'Aceptar')
INSERT [dbo].[IdiomaDetalle] ([idioma], [clave], [texto]) VALUES (1, N'BtnActualizarArchivo', N'Actualizar Archivo')
INSERT [dbo].[IdiomaDetalle] ([idioma], [clave], [texto]) VALUES (1, N'BtnAgregar', N'Agregar')
GO
INSERT [dbo].[Impresion] ([id], [venta], [impresora], [prioridad], [estado], [fechainicio], [fechafin], [material]) VALUES (1, 1, 1, 1, N'Finalizado', CAST(N'2020-12-18T05:06:01.000' AS DateTime), CAST(N'2020-12-25T05:06:01.000' AS DateTime), 1)
INSERT [dbo].[Impresion] ([id], [venta], [impresora], [prioridad], [estado], [fechainicio], [fechafin], [material]) VALUES (2, 2, 2, 1, N'Finalizado', CAST(N'2020-12-18T13:23:56.000' AS DateTime), CAST(N'2020-12-25T13:23:56.000' AS DateTime), 1)
INSERT [dbo].[Impresion] ([id], [venta], [impresora], [prioridad], [estado], [fechainicio], [fechafin], [material]) VALUES (3, 3, 3, 1, N'Finalizado', CAST(N'2020-12-19T04:37:35.000' AS DateTime), CAST(N'2020-12-26T04:37:35.000' AS DateTime), 1)
GO
INSERT [dbo].[Impresora] ([id], [nombre], [modelo], [marca], [estado]) VALUES (1, N'Impresora 1', N'i3', N'Prusa', 0)
INSERT [dbo].[Impresora] ([id], [nombre], [modelo], [marca], [estado]) VALUES (2, N'Impresora 2', N'i4', N'Prusa Mk', 0)
INSERT [dbo].[Impresora] ([id], [nombre], [modelo], [marca], [estado]) VALUES (3, N'Impresora 3', N'mx-4', N'Silver', 0)
GO
INSERT [dbo].[Material] ([id], [marca], [color], [tipo], [peso], [metros], [estado], [stock], [costom]) VALUES (1, N'Grillon3', N'Azul', N'PLA', 1, 350, 0, 275, CAST(3.86 AS Decimal(10, 2)))
INSERT [dbo].[Material] ([id], [marca], [color], [tipo], [peso], [metros], [estado], [stock], [costom]) VALUES (2, N'Grillon3', N'Amarillo', N'PLA', 1, 350, 0, 300, CAST(3.86 AS Decimal(10, 2)))
GO
SET IDENTITY_INSERT [dbo].[Permiso] ON 

INSERT [dbo].[Permiso] ([id], [nombre], [padre], [estado]) VALUES (3, N'Cliente', 0, 0)
INSERT [dbo].[Permiso] ([id], [nombre], [padre], [estado]) VALUES (4, N'Administrador Sistema', 0, 0)
INSERT [dbo].[Permiso] ([id], [nombre], [padre], [estado]) VALUES (5, N'Administrador Negocio', 0, 0)
SET IDENTITY_INSERT [dbo].[Permiso] OFF
GO
INSERT [dbo].[Producto] ([id], [nombre], [archivo], [cantidadMaterial], [tiempo], [imagen], [descripcion], [tipo], [calificacion], [estado], [precio]) VALUES (1, N'Aries', N'anteojo.stl', 4, 2, N'1.png', N'Ideal para ver bien al reparar armaduras', N'Receta', 4, 0, CAST(3200.00 AS Decimal(10, 2)))
INSERT [dbo].[Producto] ([id], [nombre], [archivo], [cantidadMaterial], [tiempo], [imagen], [descripcion], [tipo], [calificacion], [estado], [precio]) VALUES (2, N'Tauro', N'tauro.sql', 5, 2, N'2.png', N'Los anteojos para personalidades fuertes', N'Informal', 3, 0, CAST(2800.00 AS Decimal(10, 2)))
INSERT [dbo].[Producto] ([id], [nombre], [archivo], [cantidadMaterial], [tiempo], [imagen], [descripcion], [tipo], [calificacion], [estado], [precio]) VALUES (3, N'Geminis', N'geminis.stl', 4, 2, N'3.png', N'Los anteojos para personas de doble personalidad', N'Informal', 5, 0, CAST(3500.00 AS Decimal(10, 2)))
GO
INSERT [dbo].[Usuario] ([usuario], [password], [correo], [nombre], [apellido], [dni]) VALUES (N'Administrador', N'Xz+kFuvnhT+uo78vZpqRmEkbvj0=', N'administrador@veo3D.com', N'Roberto', N'Piombi', 12345678)
INSERT [dbo].[Usuario] ([usuario], [password], [correo], [nombre], [apellido], [dni]) VALUES (N'cuarto', N'oxJzFZSTa9VOhnPbIcYFEZHJ7dE=', N'cuarto@gmail.com', N'cuarto', N'cuarto', 245534533)
INSERT [dbo].[Usuario] ([usuario], [password], [correo], [nombre], [apellido], [dni]) VALUES (N'juan', N'Y5WdSXsfHpJe1pyFsGlRv9ox6Q0=', N'juan@gmail.com', N'Juan Roman', N'Riquelme', 123456)
GO
INSERT [dbo].[Usuariopermiso] ([usuario], [permiso]) VALUES (N'Administrador', 4)
INSERT [dbo].[Usuariopermiso] ([usuario], [permiso]) VALUES (N'Administrador', 5)
INSERT [dbo].[Usuariopermiso] ([usuario], [permiso]) VALUES (N'Administrador', 6)
GO
INSERT [dbo].[Venta] ([id], [producto], [anchomontura], [puente], [anchocristales], [alturacristales], [longitudpatillas], [calle], [puerta], [depto], [localidad], [provincia], [estado], [usuario], [archivo], [codigoPostal], [color], [codigoEnvio]) VALUES (1, 1, N'', N'', N'', N'', N'', N'Rivadavia', N'123', N'', N'Quilmes', N'Buenos Aires', N'Enviado a Domicilio', N'juan', N'anteojo.stl', N'1878', N'Azul', N'123456')
INSERT [dbo].[Venta] ([id], [producto], [anchomontura], [puente], [anchocristales], [alturacristales], [longitudpatillas], [calle], [puerta], [depto], [localidad], [provincia], [estado], [usuario], [archivo], [codigoPostal], [color], [codigoEnvio]) VALUES (2, 17, N'', N'', N'', N'', N'', N'Mitre', N'5456', N'', N'Varela', N'Buenos Aires', N'Enviado a Domicilio', N'segundo', N'fenix.stl', N'456', N'Rojo', N'1234567890')
INSERT [dbo].[Venta] ([id], [producto], [anchomontura], [puente], [anchocristales], [alturacristales], [longitudpatillas], [calle], [puerta], [depto], [localidad], [provincia], [estado], [usuario], [archivo], [codigoPostal], [color], [codigoEnvio]) VALUES (3, 1, N'', N'', N'', N'', N'', N'rivadavia', N'123', N'', N'ezpeleta oeste', N'Buenos Aires', N'Enviado a Domicilio', N'cuarto', N'anteojos2.stl', N'1882', N'Negro', N'1231323')
GO
ALTER TABLE [dbo].[DetalleCompras]  WITH CHECK ADD  CONSTRAINT [FK_Compras_Material] FOREIGN KEY([material])
REFERENCES [dbo].[Material] ([id])
GO
ALTER TABLE [dbo].[DetalleCompras] CHECK CONSTRAINT [FK_Compras_Material]
GO
ALTER TABLE [dbo].[DigitoVerificadorDetalle]  WITH CHECK ADD  CONSTRAINT [FK_DigitoVerificadorDetalle_Digitoverificador] FOREIGN KEY([tabla])
REFERENCES [dbo].[Digitoverificador] ([tabla])
GO
ALTER TABLE [dbo].[DigitoVerificadorDetalle] CHECK CONSTRAINT [FK_DigitoVerificadorDetalle_Digitoverificador]
GO
ALTER TABLE [dbo].[IdiomaDetalle]  WITH CHECK ADD  CONSTRAINT [FK_IdiomaDetalle_Idioma] FOREIGN KEY([idioma])
REFERENCES [dbo].[Idioma] ([id])
GO
ALTER TABLE [dbo].[IdiomaDetalle] CHECK CONSTRAINT [FK_IdiomaDetalle_Idioma]
GO
ALTER TABLE [dbo].[Impresion]  WITH CHECK ADD  CONSTRAINT [FK_Impresion_Impresora] FOREIGN KEY([impresora])
REFERENCES [dbo].[Impresora] ([id])
GO
ALTER TABLE [dbo].[Impresion] CHECK CONSTRAINT [FK_Impresion_Impresora]
GO
ALTER TABLE [dbo].[Impresion]  WITH CHECK ADD  CONSTRAINT [FK_Impresion_Venta] FOREIGN KEY([venta])
REFERENCES [dbo].[Venta] ([id])
GO
ALTER TABLE [dbo].[Impresion] CHECK CONSTRAINT [FK_Impresion_Venta]
GO
ALTER TABLE [dbo].[Usuariopermiso]  WITH CHECK ADD  CONSTRAINT [FK_Usuariopermiso_permiso] FOREIGN KEY([permiso])
REFERENCES [dbo].[Permiso] ([id])
GO
ALTER TABLE [dbo].[Usuariopermiso] CHECK CONSTRAINT [FK_Usuariopermiso_permiso]
GO
ALTER TABLE [dbo].[Usuariopermiso]  WITH CHECK ADD  CONSTRAINT [FK_Usuariopermiso_Usuario] FOREIGN KEY([usuario])
REFERENCES [dbo].[Usuario] ([usuario])
GO
ALTER TABLE [dbo].[Usuariopermiso] CHECK CONSTRAINT [FK_Usuariopermiso_Usuario]
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD  CONSTRAINT [FK_Compra_Producto] FOREIGN KEY([producto])
REFERENCES [dbo].[Producto] ([id])
GO
ALTER TABLE [dbo].[Venta] CHECK CONSTRAINT [FK_Compra_Producto]
GO
/****** Object:  StoredProcedure [dbo].[CopiaDeSeguridad_alta]    Script Date: 19/12/2020 04:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Procedure [dbo].[CopiaDeSeguridad_alta]
@nombre varchar(200), @fecha DateTime
As
Begin
insert into CopiaDeSeguridad values (@nombre, @fecha);
end;
GO
/****** Object:  StoredProcedure [dbo].[CopiaDeSeguridad_leer]    Script Date: 19/12/2020 04:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create Procedure [dbo].[CopiaDeSeguridad_leer]
As
Begin
select * from CopiaDeSeguridad
end;
GO
/****** Object:  StoredProcedure [dbo].[Detale_Compras_leer]    Script Date: 19/12/2020 04:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Detale_Compras_leer]
as
begin
	select * from [DetalleCompras] 
end;

GO
/****** Object:  StoredProcedure [dbo].[Digitoverificador_alta]    Script Date: 19/12/2020 04:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[Digitoverificador_alta]
@tabla varchar(50), @dvv varchar(50) as
begin

IF EXISTS (SELECT * FROM Digitoverificador WHERE tabla = @tabla)
BEGIN
update Digitoverificador set dvv = @dvv where tabla = @tabla ;
END
ELSE
BEGIN
insert into Digitoverificador values (@tabla, @dvv);
END
end;
GO
/****** Object:  StoredProcedure [dbo].[Digitoverificador_buscar]    Script Date: 19/12/2020 04:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create procedure [dbo].[Digitoverificador_buscar]
@tabla as varchar(50) as
begin
select * from Digitoverificador where tabla = @tabla;
end;
GO
/****** Object:  StoredProcedure [dbo].[Digitoverificador_leer]    Script Date: 19/12/2020 04:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[Digitoverificador_leer]
 as
begin
select * from Digitoverificador
end;
GO
/****** Object:  StoredProcedure [dbo].[DigitoVerificadorDetalle_alta]    Script Date: 19/12/2020 04:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[DigitoVerificadorDetalle_alta]
@tabla varchar(50), @idtabla varchar(50), @DVH varchar(50) as
begin

IF EXISTS (SELECT * FROM DigitoVerificadorDetalle WHERE [tabla] = @tabla and [idtabla] = @idtabla)
BEGIN
	UPDATE [dbo].[DigitoVerificadorDetalle]
	   SET  [DVH] = @DVH
	 WHERE [tabla] = @tabla and [idtabla] = @idtabla
END
ELSE
BEGIN
	INSERT INTO [dbo].[DigitoVerificadorDetalle]
			   ([tabla]
			   ,[idtabla]
			   ,[DVH])
		 VALUES
			   (@tabla
			   ,@idtabla
			   ,@DVH)
END
end;
GO
/****** Object:  StoredProcedure [dbo].[DigitoVerificadorDetalle_buscar]    Script Date: 19/12/2020 04:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[DigitoVerificadorDetalle_buscar]
@tabla varchar(50) as
begin
select * from DigitoVerificadorDetalle where tabla = @tabla;
end;
GO
/****** Object:  StoredProcedure [dbo].[DigitoVerificadorDetalle_leer]    Script Date: 19/12/2020 04:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create procedure [dbo].[DigitoVerificadorDetalle_leer]
 as
begin
select * from DigitoVerificadorDetalle
end;
GO
/****** Object:  StoredProcedure [dbo].[Idioma_alta]    Script Date: 19/12/2020 04:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Idioma_alta]
@idioma varchar(50), @codigo varchar(50)
 as
BEGIN


IF (SELECT count(*) FROM idioma WHERE nombre = @idioma) > 0
	BEGIN
	UPDATE idioma SET nombre = @idioma, codigo = @codigo WHERE nombre = @idioma;
	END
ELSE
	BEGIN
	INSERT INTO idioma VALUES (@idioma, @codigo);
	END
END;
GO
/****** Object:  StoredProcedure [dbo].[Idioma_leer]    Script Date: 19/12/2020 04:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[Idioma_leer]
 as
begin
select * from idioma
end;
GO
/****** Object:  StoredProcedure [dbo].[IdiomaDetalle_alta]    Script Date: 19/12/2020 04:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[IdiomaDetalle_alta]
@idioma varchar(50), @clave varchar(50), @texto varchar(200)
 as
BEGIN

DECLARE @id int;
SET @id = (SELECT TOP 1 id FROM idioma WHERE nombre = @idioma);

IF (SELECT count(clave) FROM idiomaDetalle WHERE idioma = @id and clave = @clave) > 0
	BEGIN
	UPDATE idiomaDetalle SET texto = @texto WHERE idioma = @id and clave = @clave;
	print 'update';
	END
ELSE
	BEGIN
	INSERT INTO idiomaDetalle VALUES (@id, @clave, @texto);
	print 'insert';
	END
END;
GO
/****** Object:  StoredProcedure [dbo].[IdiomaDetalle_leer]    Script Date: 19/12/2020 04:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[IdiomaDetalle_leer]
@idioma varchar(50)
 as
begin
declare @id int
set @id = (select TOP 1 id from idioma where nombre = @idioma);
select * from idiomaDetalle where idioma = @id;
end;
GO
/****** Object:  StoredProcedure [dbo].[Impresion_alta]    Script Date: 19/12/2020 04:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[Impresion_alta]
@id int,
@venta int,
@impresora int,
@prioridad int, 
@estado varchar(50), 
@fechainicio datetime, 
@fechafin datetime,
@material int as
begin
set @id   = isnull((select max(id) from Impresion),0) +1
insert into Impresion values (@id, @venta,@impresora,@prioridad,@estado, @fechainicio, @fechafin, @material);
end;
GO
/****** Object:  StoredProcedure [dbo].[Impresion_buscar]    Script Date: 19/12/2020 04:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[Impresion_buscar]
@id int as
begin
	select * from Impresion 
	where id = @id;
end;
GO
/****** Object:  StoredProcedure [dbo].[Impresion_leer]    Script Date: 19/12/2020 04:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[Impresion_leer]
as
begin
	select * from Impresion 
end;
GO
/****** Object:  StoredProcedure [dbo].[Impresion_modificar]    Script Date: 19/12/2020 04:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[Impresion_modificar]
@id int,
@venta int,
@impresora int,
@prioridad int, 
@estado varchar(50),
@fechainicio datetime, 
@fechafin datetime,
@material int as
begin
	update Impresion set
	venta = @venta, impresora = @impresora, prioridad = @prioridad, estado = @estado, fechainicio = @fechainicio, fechafin = @fechafin, material = @material
	where id = @id;
end;
GO
/****** Object:  StoredProcedure [dbo].[Impresora_alta]    Script Date: 19/12/2020 04:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[Impresora_alta]
@id int,
@nombre varchar(50),
@modelo varchar(50),
@marca varchar(50), 
@estado int as
begin
set @id   = isnull((select max(id) from Impresora),0) +1
insert into Impresora values (@id, @nombre,@modelo,@marca,0);
end;
GO
/****** Object:  StoredProcedure [dbo].[Impresora_baja]    Script Date: 19/12/2020 04:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[Impresora_baja]
@id int as
begin
	update Impresora set
	estado = 1
	where id = @id;
end;
GO
/****** Object:  StoredProcedure [dbo].[Impresora_buscar]    Script Date: 19/12/2020 04:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Procedure [dbo].[Impresora_buscar]
@id int
as
begin
SELECT *
  FROM Impresora
  where id = @id;
end;
GO
/****** Object:  StoredProcedure [dbo].[Impresora_leer]    Script Date: 19/12/2020 04:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[Impresora_leer]
as
begin
SELECT *
  FROM Impresora
  where estado = 0;
end;
GO
/****** Object:  StoredProcedure [dbo].[Impresora_modificar]    Script Date: 19/12/2020 04:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[Impresora_modificar]
@id int,
@nombre varchar(50),
@modelo varchar(50),
@marca varchar(50), 
@estado int as
begin
	update Impresora set
	nombre = @nombre, modelo = @modelo, marca = @marca, estado = @estado
	where id = @id;
end;
GO
/****** Object:  StoredProcedure [dbo].[Material_alta]    Script Date: 19/12/2020 04:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[Material_alta]
@id int,
@marca varchar(50),
@color varchar(50),
@tipo varchar(50),
@peso int,
@metros int ,
@stock int, 
@costom decimal(10,2) as
begin
set @id   = isnull((select max(id) from Material),0) +1
insert into Material values (@id, @marca,@color,@tipo,@peso,@metros,0, @stock,@costom );
end;
GO
/****** Object:  StoredProcedure [dbo].[Material_baja]    Script Date: 19/12/2020 04:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[Material_baja]
@id int as
begin
	update Material set
	estado = 1
	where id = @id;
end;
GO
/****** Object:  StoredProcedure [dbo].[Material_buscar]    Script Date: 19/12/2020 04:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Procedure [dbo].[Material_buscar]
@id int
as
begin
SELECT *
  FROM Material
  where id = @id;
end;
GO
/****** Object:  StoredProcedure [dbo].[Material_leer]    Script Date: 19/12/2020 04:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[Material_leer]
as
begin
SELECT *
  FROM Material
  where estado = 0;
end;
GO
/****** Object:  StoredProcedure [dbo].[Material_modificar]    Script Date: 19/12/2020 04:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[Material_modificar]
@id int,
@marca varchar(50),
@color varchar(50),
@tipo varchar(50),
@peso int,
@metros int,
@stock int, 
@costom decimal(10,2) as
begin
	update Material set
	marca = @marca, color = @color, tipo = @tipo, peso = @peso, metros = @metros, stock = @stock, costom = @costom
	where id = @id;
end;
GO
/****** Object:  StoredProcedure [dbo].[OrdenCompra_alta]    Script Date: 19/12/2020 04:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create procedure [dbo].[OrdenCompra_alta]
@id int,
@descripcion varchar(50),
@fecha date as
begin
set @id   = isnull((select max(id) from [OrdenCompra]),0) +1

INSERT INTO [dbo].[OrdenCompra]
           ([id]
           ,[descripcion]
           ,[fecha])
     VALUES
           (@id
           ,@descripcion
           ,@fecha)

end;
GO
/****** Object:  StoredProcedure [dbo].[OrdenCompra_leer]    Script Date: 19/12/2020 04:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[OrdenCompra_leer]
as
begin
	select * from OrdenCompra 
end;

GO
/****** Object:  StoredProcedure [dbo].[Permiso_alta]    Script Date: 19/12/2020 04:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[Permiso_alta]
@nombre varchar(50), @padre int as
begin
insert into Permiso values (@nombre,@padre,0);
end;
GO
/****** Object:  StoredProcedure [dbo].[Permiso_baja]    Script Date: 19/12/2020 04:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[Permiso_baja]
@id int as
begin

update Permiso set estado = 1
where id = @id;
end;

GO
/****** Object:  StoredProcedure [dbo].[Permiso_buscar]    Script Date: 19/12/2020 04:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE procedure [dbo].[Permiso_buscar]
@padre int as
begin
select * from Permiso
where padre = @padre and estado = 0;
end;




GO
/****** Object:  StoredProcedure [dbo].[Permiso_leer]    Script Date: 19/12/2020 04:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[Permiso_leer]
as
begin
select id, nombre, padre from Permiso where estado = 0;
end;




GO
/****** Object:  StoredProcedure [dbo].[Permiso_modificar]    Script Date: 19/12/2020 04:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create procedure [dbo].[Permiso_modificar]
@id int, @nombre varchar(50), @padre int as
begin
update Permiso set
nombre = @nombre, padre = @padre
where id = @id;
end;




GO
/****** Object:  StoredProcedure [dbo].[Producto_alta]    Script Date: 19/12/2020 04:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[Producto_alta]
@id int,
@nombre varchar(50),
@archivo varchar(200),
@cantidadMaterial int,
@tiempo int,
@imagen varchar(100),
@descripcion varchar(400),
@tipo varchar(50),
@calificacion int,
@precio decimal(10,2) as
begin
set @id   = isnull((select max(id) from Producto),0) +1
insert into Producto values (@id, @nombre,@archivo,@cantidadMaterial,@tiempo,@imagen,@descripcion,@tipo,@calificacion,0, @precio);
end;
GO
/****** Object:  StoredProcedure [dbo].[Producto_baja]    Script Date: 19/12/2020 04:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[Producto_baja]
@id int as
begin
	update Producto set
	estado = 1
	where id = @id;
end;
GO
/****** Object:  StoredProcedure [dbo].[Producto_buscar]    Script Date: 19/12/2020 04:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Procedure [dbo].[Producto_buscar]
@id int
as
begin
SELECT *
  FROM Producto
  where Producto.id = @id;
end;
GO
/****** Object:  StoredProcedure [dbo].[Producto_leer]    Script Date: 19/12/2020 04:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[Producto_leer]
as
begin
SELECT *
  FROM Producto where estado = 0;
end;
GO
/****** Object:  StoredProcedure [dbo].[Producto_modificar]    Script Date: 19/12/2020 04:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[Producto_modificar]
@id int,
@nombre varchar(50),
@archivo varchar(200),
@cantidadMaterial int,
@tiempo int,
@imagen varchar(100),
@descripcion varchar(400),
@tipo varchar(50),
@calificacion int,
@precio decimal(10,2) as
begin
	update Producto set
	nombre = @nombre, archivo = @archivo, cantidadMaterial = @cantidadMaterial, tiempo = @tiempo , imagen = @imagen , descripcion = @descripcion , tipo = @tipo, calificacion = @calificacion, precio = @precio
	where id = @id;
end;
GO
/****** Object:  StoredProcedure [dbo].[Usuario_alta]    Script Date: 19/12/2020 04:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[Usuario_alta]
@usuario varchar(50),@pass varchar(50),@nombre varchar(50),
@apellido varchar(50),@correo varchar(50),@dni int as
begin
insert into Usuario values (@usuario,@pass, @correo, @nombre,@apellido,@dni);
end;
GO
/****** Object:  StoredProcedure [dbo].[Usuario_buscar]    Script Date: 19/12/2020 04:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create procedure [dbo].[Usuario_buscar]
@usuario varchar(50) as
begin
select * from usuario where usuario.usuario = @usuario;
end;
GO
/****** Object:  StoredProcedure [dbo].[Usuario_leer]    Script Date: 19/12/2020 04:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create procedure [dbo].[Usuario_leer]
 as
begin
select * from usuario
end;
GO
/****** Object:  StoredProcedure [dbo].[Usuario_login]    Script Date: 19/12/2020 04:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[Usuario_login]
@usuario varchar(50), @pass varchar(50) as
begin
select * from usuario where usuario.usuario = @usuario and usuario.password = @pass;
end;
GO
/****** Object:  StoredProcedure [dbo].[Usuario_modificar]    Script Date: 19/12/2020 04:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[Usuario_modificar]
@usuario varchar(50),@pass varchar(50),@nombre varchar(50),
@apellido varchar(50),@correo varchar(50),@dni int as
begin
update Usuario set correo = @correo, nombre = @nombre, apellido = @apellido, dni= @dni
where usuario = @usuario
end;
GO
/****** Object:  StoredProcedure [dbo].[Usuario_modificarPass]    Script Date: 19/12/2020 04:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[Usuario_modificarPass]
@usuario varchar(50),@pass varchar(50) as
begin
update Usuario set 
password = @pass 
where usuario = @usuario
end;
GO
/****** Object:  StoredProcedure [dbo].[UsuarioPermiso_alta]    Script Date: 19/12/2020 04:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create procedure [dbo].[UsuarioPermiso_alta]
@usuario varchar(50), @permiso int as
begin
insert into UsuarioPermiso values (@usuario,@permiso);
end;





GO
/****** Object:  StoredProcedure [dbo].[UsuarioPermiso_borrar]    Script Date: 19/12/2020 04:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create procedure [dbo].[UsuarioPermiso_borrar]
@usuario varchar(50)as
begin
delete from UsuarioPermiso 
where usuario = @usuario
end;





GO
/****** Object:  StoredProcedure [dbo].[UsuarioPermiso_buscar]    Script Date: 19/12/2020 04:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[UsuarioPermiso_buscar]
@usuario varchar(50) as
begin
select p.id, p.nombre, p.padre from UsuarioPermiso up join Permiso p on up.permiso = p.id
where up.usuario = @usuario and p.estado = 0;
end;
GO
/****** Object:  StoredProcedure [dbo].[UsuarioPermiso_leer]    Script Date: 19/12/2020 04:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[UsuarioPermiso_leer]
 as
begin
select p.id, p.nombre, up.usuario from UsuarioPermiso up join Permiso p on up.permiso = p.id
where p.estado = 0
end;
GO
/****** Object:  StoredProcedure [dbo].[Venta_alta]    Script Date: 19/12/2020 04:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[Venta_alta]
@id int,
@producto varchar(50),
@anchomontura varchar(50),
@puente varchar(50),
@anchocristales varchar(50),
@alturacristales varchar(50),
@longitudpatillas varchar(50),
@calle varchar(50),
@puerta varchar(50),
@depto varchar(50),
@localidad varchar(50),
@provincia varchar(50),
@estado varchar(50),
@usuario varchar(50),
@codigoPostal varchar(50),
@archivo varchar(50), 
@color varchar(50) as
begin

set @id   = isnull((select max(id) from Venta),0) +1


INSERT INTO [dbo].Venta
           ([id]
           ,[producto]
           ,[anchomontura]
           ,[puente]
           ,[anchocristales]
           ,[alturacristales]
           ,[longitudpatillas]
           ,[calle]
           ,[puerta]
           ,[depto]
           ,[localidad]
           ,[provincia]
		   ,[estado]
		   ,[usuario]
		   ,[archivo]
		   ,[codigoPostal]
		   ,[color])
     VALUES
           (@id
           ,@producto
           ,@anchomontura
           ,@puente
           ,@anchocristales
           ,@alturacristales
           ,@longitudpatillas
           ,@calle
           ,@puerta
           ,@depto
           ,@localidad
           ,@provincia
		   ,@estado
		   ,@usuario
		   ,@archivo
		   ,@codigoPostal
		   ,@color)
end;

GO
/****** Object:  StoredProcedure [dbo].[Venta_buscar]    Script Date: 19/12/2020 04:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create procedure [dbo].[Venta_buscar]
@id int as
begin
SELECT *
  FROM Venta where id = @id;
end;
GO
/****** Object:  StoredProcedure [dbo].[Venta_leer]    Script Date: 19/12/2020 04:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[Venta_leer]
as
begin
SELECT *
  FROM Venta;
end;
GO
/****** Object:  StoredProcedure [dbo].[Venta_modificar]    Script Date: 19/12/2020 04:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[Venta_modificar]
@id int,
@estado varchar(50)
as
begin

UPDATE [dbo].Venta
   SET [estado] = @estado
 WHERE id = @id;

end;

GO
/****** Object:  StoredProcedure [dbo].[Venta_modificar_archivo]    Script Date: 19/12/2020 04:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



create procedure [dbo].[Venta_modificar_archivo]
@id int,
@archivo varchar(50)
as
begin

UPDATE [dbo].Venta
   SET [archivo] = @archivo
 WHERE id = @id;

end;

GO
/****** Object:  StoredProcedure [dbo].[Venta_modificar_envio]    Script Date: 19/12/2020 04:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



create procedure [dbo].[Venta_modificar_envio]
@id int,
@codigo varchar(50)
as
begin

UPDATE [dbo].Venta
   SET [codigoEnvio] = @codigo
 WHERE id = @id;

end;

GO
USE [master]
GO
