USE [master]
GO
/****** Object:  Database [Bitacora]    Script Date: 17/12/2020 00:01:32 ******/
CREATE DATABASE [Bitacora]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Bitacora', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Bitacora.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Bitacora_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Bitacora_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Bitacora].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Bitacora]
GO
/****** Object:  User [IIS APPPOOL\veo3d]    Script Date: 17/12/2020 00:01:32 ******/
CREATE USER [IIS APPPOOL\veo3d] FOR LOGIN [IIS APPPOOL\veo3d] WITH DEFAULT_SCHEMA=[db_owner]
GO
/****** Object:  User [IIS APPPOOL\DefaultAppPool]    Script Date: 17/12/2020 00:01:32 ******/
CREATE USER [IIS APPPOOL\DefaultAppPool] FOR LOGIN [IIS APPPOOL\DefaultAppPool] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [IIS APPPOOL\veo3d]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [IIS APPPOOL\veo3d]
GO
/****** Object:  Table [dbo].[Bitacora]    Script Date: 17/12/2020 00:01:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[usuario] [varchar](50) NULL,
	[fecha] [datetime] NULL,
	[tabla] [varchar](50) NOT NULL,
	[accion] [varchar](50) NOT NULL,
	[dato] [varchar](50) NOT NULL,
	[DVH] [varchar](50) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bitacora] ON 

INSERT [dbo].[Bitacora] ([id], [usuario], [fecha], [tabla], [accion], [dato], [DVH]) VALUES (32, N'Administrador', CAST(N'2020-09-24T22:56:48.400' AS DateTime), N'', N'Inicia Sesion', N'', N'dvh')
INSERT [dbo].[Bitacora] ([id], [usuario], [fecha], [tabla], [accion], [dato], [DVH]) VALUES (33, N'Administrador', CAST(N'2020-09-24T22:57:49.947' AS DateTime), N'', N'Cierra Sesion', N'', N'dvh')
INSERT [dbo].[Bitacora] ([id], [usuario], [fecha], [tabla], [accion], [dato], [DVH]) VALUES (34, N'Administrador', CAST(N'2020-09-24T22:57:57.387' AS DateTime), N'', N'Inicia Sesion', N'', N'dvh')
GO
SET IDENTITY_INSERT [dbo].[Bitacora] OFF
GO
/****** Object:  StoredProcedure [dbo].[Bitacora_alta]    Script Date: 17/12/2020 00:01:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Bitacora_alta]
@usuario varchar(50),@fecha datetime, @tabla varchar(50),
@dato varchar(50), @accion varchar(50), @dvh varchar(50) as
begin
insert into Bitacora values (@usuario,@fecha, @tabla, @accion, @dato, @dvh);
end
GO
/****** Object:  StoredProcedure [dbo].[Bitacora_leer]    Script Date: 17/12/2020 00:01:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Bitacora_leer]
 as
begin
select * from Bitacora order by id;
end
GO
USE [master]
GO
